<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="BizUIConfigurationFile" value="/Configuration/BizUI.config" />
    <add key="DatabaseListFile" value="/Configuration/Data/Database.config" />
    <add key="DataCommandFile" value="/Configuration/Data/DbCommandFiles.config" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <!--<add name="CacheModule" type="Newegg.Website.HttpModule.OutPutCacheModule.OutPutCacheModule,Newegg.Website.HttpModule.OutPutCacheModule"/>-->
      <add name="FilterForbiddenWordModule" type="Newegg.Website.HttpModule.FilterForbiddenWordMobule.FilterForbiddenWordMobule, Newegg.Website.HttpModule.FilterForbiddenWordMobule"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="*.asp" type="Newegg.Website.HttpHandle.UrlMappingHandler.UrlMappingHandler, Newegg.Website.HttpHandle.UrlMappingHandler"/>
    </httpHandlers>
  </system.web>

  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="True">
      <!--<add name="CacheModule" type="Newegg.Website.HttpModule.OutPutCacheModule.OutPutCacheModule,Newegg.Website.HttpModule.OutPutCacheModule"/>-->
      <add name="FilterForbiddenWordModule" type="Newegg.Website.HttpModule.FilterForbiddenWordMobule.FilterForbiddenWordMobule, Newegg.Website.HttpModule.FilterForbiddenWordMobule"/>
    </modules>
    <handlers>
      <add name="ASP-NEWEGG" verb="*" path="*.asp" type="Newegg.Website.HttpHandle.UrlMappingHandler.UrlMappingHandler, Newegg.Website.HttpHandle.UrlMappingHandler"/>
    </handlers>
  </system.webServer>
  
</configuration>